In [3]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
# Importo libreria para trabajar con dates 
from datetime import timedelta
# Libreria para estimar regresión
import statsmodels.formula.api as sm
# Libreria para normalizar
from sklearn.preprocessing import StandardScaler

In [7]:
df = pd.read_excel('ClientesAnulados.xlsx', sheet_name='Agenda Clientes')

In [11]:
df2 = pd.read_excel('Agenda_Clientes_Sexo_Verificado.xlsx', sheet_name='Sheet1')

In [13]:
df3 = pd.read_excel('VIGENTES.xlsx', sheet_name='Sheet1')

In [12]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2415 entries, 0 to 2414
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tipo Persona      2415 non-null   object
 1   Nombre            2415 non-null   object
 2   Sexo              2415 non-null   object
 3   DNI               1997 non-null   float64
 4   Otros Documentos  13 non-null     object
 5   Nacimiento        1863 non-null   object
 6   Direcciones       2411 non-null   object
 7   Telefonos         2104 non-null   object
 8   Mails             2149 non-null   object
 9   Ramos             2415 non-null   object
 10  id                2415 non-null   object
dtypes: float64(1), object(10)
memory usage: 207.7+ KB
None

In [16]:
df_prueba = pd.read_excel('Agenda_Clientes_Sexo_Verificado.xlsx')

In [19]:
df2 = pd.DataFrame(df_prueba[['Nombre', 'Sexo', 'Nacimiento', 'Telefonos', 'Direcciones', 'Mails', 'Ramos']])

In [20]:
# Contar la cantidad de clientes por cada valor en la columna 'Sexo'
conteo_sexo = df_prueba['Sexo'].value_counts()

# Mostrar el resultado
print(conteo_sexo)

Sexo
Masculino       1253
Femenino         631
Desconocido      503
Razon social      28
Name: count, dtype: int64

In [21]:
import pandas as pd

# Asegurarte de que la columna 'Nacimiento' esté en formato de fecha
df_prueba['Nacimiento'] = pd.to_datetime(df_prueba['Nacimiento'], errors='coerce')

# Calcular la edad en base a la fecha de nacimiento
df_prueba['Edad'] = (pd.Timestamp.now() - df_prueba['Nacimiento']).dt.days // 365

# Definir los límites de los intervalos de edad
bins = [15, 30, 40, 50, 60, 100]  # Ajusta el 100 si quieres otro límite superior
labels = ['15-30', '31-40', '41-50', '51-60', '61+']

# Crear la columna que agrupa las edades por intervalos
df_prueba['Grupo Edad'] = pd.cut(df_prueba['Edad'], bins=bins, labels=labels, right=True)

# Mostrar el número de clientes por cada grupo de edad
conteo_grupo_edad = df_prueba['Grupo Edad'].value_counts()

# Mostrar el resultado
print(conteo_grupo_edad)

Grupo Edad
31-40    468
41-50    466
61+      323
51-60    313
15-30    212
Name: count, dtype: int64

C:\Users\Fernando\AppData\Local\Temp\ipykernel_21012\1719552692.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_prueba['Nacimiento'] = pd.to_datetime(df_prueba['Nacimiento'], errors='coerce')

In [22]:
# Calcular los porcentajes por cada grupo de edad
porcentaje_grupo_edad = df_prueba['Grupo Edad'].value_counts(normalize=True) * 100

# Mostrar el resultado en porcentajes
print(porcentaje_grupo_edad)

Grupo Edad
31-40    26.262626
41-50    26.150393
61+      18.125701
51-60    17.564534
15-30    11.896745
Name: proportion, dtype: float64

In [23]:
# Resultado del conteo que tienes, guardado en una variable (simulación)
conteo_sexo = pd.Series({
    'Masculino': 1253,
    'Femenino': 631,
    'Desconocido': 503,
    'Razon social': 28
})

# Filtrar los valores que no quieres (Desconocido y Razon social)
conteo_filtrado = conteo_sexo.drop(['Desconocido', 'Razon social'])

# Convertir el conteo a porcentaje
porcentaje_sexo = (conteo_filtrado / conteo_filtrado.sum()) * 100

# Mostrar el resultado
print(porcentaje_sexo)

Masculino    66.507431
Femenino     33.492569
dtype: float64

In [25]:
import pandas as pd

# Datos de proporción por edad y sexo
# Suposición de cómo se distribuyen los datos entre los sexos para cada grupo de edad

data = {
    'Masculino': [26.26, 26.15, 18.12, 17.56, 11.89],  # Porcentajes por grupo de edad
    'Femenino': [20.26, 25.15, 20.12, 15.56, 18.89]    # Ejemplo de porcentajes por grupo de edad
}

# Index para los grupos de edad
index = ['31-40', '41-50', '61+', '51-60', '15-30']

# Crear el DataFrame con los datos
df_resultado = pd.DataFrame(data, index=index)

# Mostrar el resultado
print(df_resultado)

       Masculino  Femenino
31-40      26.26     20.26
41-50      26.15     25.15
61+        18.12     20.12
51-60      17.56     15.56
15-30      11.89     18.89

In [26]:
# Ver el contenido de la columna 'Ramos'
print(df['Ramos'])

0       Accidentes Personales / Automotores / Seguro d...
1       Accidentes Personales / Automotores / Seguro d...
2                    Combinado Familiar / Vida individual
3          Automotores / Riesgos Varios / Vida individual
4       Accidentes Personales / Automotores / Vida ind...
                              ...
2410                                        Motovehículos
2411                        Automotores / Vida individual
2412                        Automotores / Vida individual
2413                        Automotores / Vida individual
2414                        Automotores / Vida individual
Name: Ramos, Length: 2415, dtype: object

In [27]:
import pandas as pd

# Suponiendo que tienes el DataFrame llamado df
# Separar las palabras de la columna 'Ramos'
ramos_separados = df['Ramos'].str.split(' / ')

# Crear una lista que contenga todas las palabras separadas
todas_palabras = []
for sublist in ramos_separados:
    todas_palabras.extend(sublist)

# Contar la cantidad de veces que aparece cada palabra
conteo_palabras = pd.Series(todas_palabras).value_counts()

# Mostrar el resultado
print(conteo_palabras)

Automotores                                        2121
Vida individual                                    1649
Accidentes Personales                              1302
Motovehículos                                       145
Seguro de Salud                                      93
Combinado Familiar                                   86
Responsabilidad Civil                                59
Incendio                                             53
ART                                                  26
Riesgos Varios                                       25
Robo y Riesgos Similares                             25
Vida Obligatorio (Decreto 1567/74)                   16
Caución                                               9
Integral de comercio                                  7
Accidentes a Pasajeros                                6
Cascos y Maquinarias del Buque                        2
Técnico                                               2
Combinados e Integrales                               2
Transportes                                           1
Integral de consorcio                                 1
Vida – Sin constitución de reservas Matemáticas       1
Name: count, dtype: int64

In [28]:
# Filtrar las filas que contienen 'Integral de comercio' en la columna 'Ramos'
filas_integral_comercio = df[df['Ramos'].str.contains('Integral de comercio', na=False)]

# Mostrar las filas donde aparece 'Integral de comercio'
print(filas_integral_comercio)

     Tipo Persona                             Nombre          Sexo  \
39         fisica                        Holtz Jesus     Masculino
189        fisica                  Hein Teresa Noemi      Femenino
448      juridica     Ffh Asesores De Seguros S.R.L.   Desconocido
472        fisica                 Sanchez Maria Rosa      Femenino
483        fisica               Esteban Gaspar Angel     Masculino
1065       fisica                  Juan Jose Juricka     Masculino
1893     juridica  Lab Net Bioquimica Acreditada Srl  Razon social

             DNI Otros Documentos  Nacimiento  \
39    32861336.0              NaN  09/05/1987
189   16546482.0              NaN  20/09/1963
448          NaN              NaN  24/02/2016
472   16750626.0              NaN  27/05/1962
483   10471051.0              NaN  18/09/1952
1065  17162598.0              NaN  31/10/1964
1893         NaN              NaN  18/08/2023

                                            Direcciones  \
39    MSTRO D'ELIA 25 PISO 2 DTO C, Buenos Aires, Ba...
189   LIMA 1050 PISO 2 DTO B, Buenos Aires, Acassuso...
448   MAESTRO ANGEL D'ELIA 768, Buenos Aires, Barrio...
472   MSTRO EDUARDO FERREYRA 3310, Buenos Aires, Bar...
483   DR JUAN JOSE PASO 959, Buenos Aires, Barrio Ba...
1065  MOYANO                                        ...
1893  LORENZO LOPEZ 497 CENTRO, Buenos Aires, Pilar,...

                                 Telefonos  \
39                  Celular: 011-4415-6468
189              Celular: 011-15-5247-8658
448                 Celular: 011-4664-7465
472                 Celular: 011-5292-3872
483                 Celular: 011-6228-3040
1065  Telefono Particular: (54)2944-249638
1893                                   NaN

                                      Mails  \
39       Particular SANDRAVERAC@HOTMAIL.COM
189          Particular terevet@hotmail.com
448      Particular fernando@ffhseguros.com
472   Particular OPERACIONES@FFHSEGUROS.COM
483           Particular SGPAVONI@GMAIL.COM
1065      E-Mail victoria.juricka@gmail.com
1893                                    NaN

                                                  Ramos         id
39    Accidentes Personales / Automotores / Vida Obl...  P17264371
189   Automotores / Combinado Familiar / Integral de...  P17264677
448   ART / Responsabilidad Civil / Integral de come...  P17265354
472   Accidentes Personales / Automotores / Integral...  P17265417
483   Accidentes Personales / Automotores / Integral...  P17265440
1065  Automotores / Integral de comercio / Vida indi...  P17266784
1893                               Integral de comercio  P17281947

In [31]:
# Filtrar las filas que contienen 'Combinado Familiar' en la columna 'Ramos' y mostrar solo la columna 'Nombre'
filas_combinado_familiar_nombres = df[df['Ramos'].str.contains('Combinado Familiar', na=False)]['Nombre']

# Mostrar todas las 86 filas completas sin truncar
pd.set_option('display.max_rows', None)  # Configura pandas para mostrar todas las filas sin truncar
print(filas_combinado_familiar_nombres)

2                    Maria Patricia Steinbach
7                 Goncalves Francisco Augusto
11                        Hein Cristina Elena
27                       Palma Matias Nicolas
50                        Babiuk Luis Esteban
54                       Julieta Noemi Flores
55                      Pablo Sebastian Sager
56                          Macri Silvia Ines
62                   Fernandez Carlos Alberto
69                            Milanese Gaston
95                           Campos Rodolfo E
100                   Cirger Alejandro Daniel
123              Albertinsky Sebastian Javier
131                   Friedrich Jorge Alberto
136                Silvestre Martin Sebastian
142                 Vadillo Luis Horacio Raul
148                        Zardin Mirta Mabel
157                       Suarez Lucas Gaton.
185                    Orquera Sergio Antonio
189                         Hein Teresa Noemi
231                  Rabella Vicino Jose Luis
238                        Walter Ariel Gatto
245                      Riofrio Gisela Belen
260              Flores Hein Guillermo Hernan
266                      Medi Cogo Juan Pedro
271                            Janezic Andres
276                  Rodriguez Sergio Gustavo
281                            Garozzo Roxana
309                  Tominich Marcelo Orlando
311                           Griffa Leonardo
316                    Suchmans Silvia Monica
339                          Biasca Luz Maria
340                      Cela Adriana Claudia
346                      Rodriguez Jorge Jose
348                       Sicca Jorge Armando
366                   Pereira Mariano Alberto
384             Bertino Primiterra Diego Ivan
397                  Pilorget Natalia Soledad
401                         Diz Romina Vanesa
412                             Soler Claudio
419            Matta Alfredo Dalberto Enrique
421     Iglesia Evangelica Luterana Argentina
440                    Sandra Claudia Olivero
456                   Bejarano Hector Gabriel
457             Fernandez Suarez Emanuel Jose
458     Sebastian Ferri Y Andrea Natalia Ruiz
459                       Pedrosa Luis Carlos
464                 Albertinsky Marcelo Ariel
468                 Llamedo Nelida Del Carmen
471                     Triulzi Edgardo Jorge
476                       Rossi Norma Viviana
545                   Riofrio Mariano Gabriel
569                   Valeria Beatriz Gentile
575                     Rubinich Pablo Damian
738                   Cousido Valeria Soledad
755                         Paris Maria Ester
766                 Santieusanio Moira Susana
771                     Cristaldo Maria Elena
842                      Torrez Lucas Marcelo
944                          Bejarano Zuleica
1000                    Areco Maria Constanza
1071                     Garita Angeles Belen
1104                        Tomasello Facundo
1131                      Vidal Jorge Horacio
1137                   Castaño Daniela Andrea
1139                       Gomes Armando Abel
1172                Karabetian Patricia Marta
1180                Horacek Barbara Guadalupe
1274                     Falco Marta Cristina
1297                   Diz Maximiliano Javier
1298                 Lopez Duarte Luis Javier
1305                   Shinzato Rodrigo Ariel
1312              Coss Sanchez Mirne Griselda
1318                             Acosta Ester
1322                         Ls Protec S.R.L.
1385                   Barbieri Damian Matias
1535                     Luque Micaela Magali
1556                   Abagnale Daniel Anibal
1659                 Herrero Ildefonso Miguel
1665                             Buono Nelida
1666                    Garcia Giselle Romina
1667                        Bernachea Fermina
1669                    Briasco Sergio Carlos
1708             Avila Sanchez Sabrina Lorena
1750                    Gimenez Daniela Ester
1845                 Colombano Emiliano Guido
Name: Nombre, dtype: object

In [34]:
df = pd.read_excel('Polizas.xlsx', sheet_name='Polizas')

In [35]:
import pandas as pd

# Cargar el archivo Excel
df = pd.read_excel('Polizas.xlsx', sheet_name='Polizas')

# Ver las primeras filas del archivo
print(df.head())

# Ver la información general del DataFrame
print(df.info())

# Ver los nombres de las columnas
print(df.columns)

    Numero      Estado Id referencia                          Tomador/es  \
0  1841748  renovacion     P61675992  Estacion Ruta 8 Y Panamericana Srl
1  1842766  renovacion     P61675993                       Stauber Maria
2  1842767  renovacion     P61675994                       Stauber Maria
3  1842827  renovacion     P61675995             Zmiack Alejandro Javier
4  1843176  renovacion     P61675996                       Stauber Maria

                          Asegurado/s             Compañia      Ramo  \
0  Estacion Ruta 8 Y Panamericana Srl  FEDERACION PATRONAL  Incendio
1                       Stauber Maria  FEDERACION PATRONAL  Incendio
2                       Stauber Maria  FEDERACION PATRONAL  Incendio
3             Zmiack Alejandro Javier  FEDERACION PATRONAL  Incendio
4                       Stauber Maria  FEDERACION PATRONAL  Incendio

  Linea de Negocio                              Bien asegurado Moneda  ...  \
0              P&C           RUTA 8 KM 57.200 N* s/n - CP:  -       $  ...
1              P&C  MAESTRO DELIA  N* 1780 P 1 DTO 1 - CP:  -       $  ...
2              P&C         MAESTRO DELIA N* 1780 P 2 - CP:  -       $  ...
3              P&C                    ZUVIRIA N* 955 - CP:  -       $  ...
4              P&C    MAESTRO DELIA N* 780 P 1 DTO 2 - CP:  -       $  ...

   Cl. Ajuste  Fecha emision  Vigencia desde  Vigencia Hasta  \
0         NaN     2023-09-07      2023-09-15      2024-09-15
1        20.0     2023-09-11      2023-09-16      2024-09-16
2        20.0     2023-09-11      2023-09-16      2024-09-16
3        20.0     2023-09-11      2023-09-16      2024-09-16
4        20.0     2023-09-12      2023-09-17      2024-09-17

   Tipo de renovacion   Renovo a  Tipo de refacturacion Codigo  \
0              Manual  1720822.0                    NaN  26357
1              Manual  1720029.0                    NaN  26357
2              Manual  1720030.0                    NaN  26357
3              Manual  1722700.0                    NaN  26357
4              Manual  1720031.0                    NaN  26357

            Mails tomadores/asegurados       Documentos tomadores/asegurados
0   Particular estacionruta8@gmail.com                 CUIT/CUIL 30708037970
1  Particular PABLOMULDOWNEY@GMAIL.COM  CUIT/CUIL 27102808121 / DNI 10280812
2  Particular PABLOMULDOWNEY@GMAIL.COM  CUIT/CUIL 27102808121 / DNI 10280812
3     Particular zmiackaj@yahoo.com.ar  CUIT/CUIL 20270626360 / DNI 27062636
4  Particular PABLOMULDOWNEY@GMAIL.COM  CUIT/CUIL 27102808121 / DNI 10280812

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 29 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Numero                           5802 non-null   int64
 1   Estado                           5802 non-null   object
 2   Id referencia                    5802 non-null   object
 3   Tomador/es                       5802 non-null   object
 4   Asegurado/s                      5802 non-null   object
 5   Compañia                         5802 non-null   object
 6   Ramo                             5802 non-null   object
 7   Linea de Negocio                 5802 non-null   object
 8   Bien asegurado                   5610 non-null   object
 9   Moneda                           5802 non-null   object
 10  Prima                            5758 non-null   float64
 11  Prima Comisionable               5758 non-null   float64
 12  Premio                           5758 non-null   float64
 13  Comision Prima PAS %             5802 non-null   float64
 14  Importe bruto Prima PAS          5802 non-null   float64
 15  Comision Premio PAS %            5802 non-null   float64
 16  Importe bruto Premio PAS         5802 non-null   float64
 17  Tipo pago                        5477 non-null   object
 18  Suma asegurada                   5645 non-null   float64
 19  Cl. Ajuste                       1512 non-null   float64
 20  Fecha emision                    5382 non-null   datetime64[ns]
 21  Vigencia desde                   5463 non-null   datetime64[ns]
 22  Vigencia Hasta                   5732 non-null   datetime64[ns]
 23  Tipo de renovacion               5802 non-null   object
 24  Renovo a                         2404 non-null   float64
 25  Tipo de refacturacion            1773 non-null   object
 26  Codigo                           5802 non-null   object
 27  Mails tomadores/asegurados       5383 non-null   object
 28  Documentos tomadores/asegurados  5802 non-null   object
dtypes: datetime64[ns](3), float64(10), int64(1), object(15)
memory usage: 1.3+ MB
None
Index(['Numero', 'Estado', 'Id referencia', 'Tomador/es', 'Asegurado/s',
       'Compañia', 'Ramo', 'Linea de Negocio', 'Bien asegurado', 'Moneda',
       'Prima', 'Prima Comisionable', 'Premio', 'Comision Prima PAS %',
       'Importe bruto Prima PAS', 'Comision Premio PAS %',
       'Importe bruto Premio PAS', 'Tipo pago', 'Suma asegurada', 'Cl. Ajuste',
       'Fecha emision', 'Vigencia desde', 'Vigencia Hasta',
       'Tipo de renovacion', 'Renovo a', 'Tipo de refacturacion', 'Codigo',
       'Mails tomadores/asegurados', 'Documentos tomadores/asegurados'],
      dtype='object')

In [36]:
# Contar cuántas veces aparece cada valor en la columna 'Ramo'
conteo_ramos = df['Ramo'].value_counts()

# Mostrar el resultado
print(conteo_ramos)

Ramo
Automotores                                        2089
Vida individual                                    1588
Accidentes Personales                              1410
Motovehículos                                       164
Combinado Familiar                                  140
Seguro de Salud                                     127
Incendio                                             66
Responsabilidad Civil                                59
Robo y Riesgos Similares                             29
ART                                                  26
Riesgos Varios                                       24
Vida Obligatorio (Decreto 1567/74)                   23
Caución                                              15
Integral de comercio                                 13
Accidentes a Pasajeros                               12
Técnico                                               5
Integral de consorcio                                 3
Vida – Sin constitución de reservas Matemáticas       3
Combinados e Integrales                               2
Cascos y Maquinarias del Buque                        2
Transportes                                           1
Vida colectivo                                        1
Name: count, dtype: int64

In [38]:
# Filtrar las filas donde el 'Ramo' sea 'Integral de comercio' y mostrar la columna 'Asegurado/s'
integral_comercio_asegurados = df[df['Ramo'] == 'Integral de comercio']['Asegurado/s']

# Mostrar los asegurados correspondientes
print(integral_comercio_asegurados)

4380                          Holtz Jesus
4381                    Macri Silvia Ines
4382                 Palma Matias Nicolas
4383                    Hein Teresa Noemi
4384       Ffh Asesores De Seguros S.R.L.
4385                 Esteban Gaspar Angel
4386                   Sanchez Maria Rosa
4387                   Sanchez Maria Rosa
4388                    Juan Jose Juricka
4640                     Gentile Salvador
5447                            Ronai S A
5547    Lab Net Bioquimica Acreditada Srl
5731    Lab Net Bioquimica Acreditada Srl
Name: Asegurado/s, dtype: object

In [39]:
# Filtrar las filas donde el 'Ramo' sea 'ART' y mostrar la columna 'Asegurado/s'
art_asegurados = df[df['Ramo'] == 'ART']['Asegurado/s']

# Mostrar los asegurados correspondientes
print(art_asegurados)

4609                            Guzman Vanina Erika
4610                  Cogliano Eduardo Jose Antonio
4611                                   Wingsvestors
4612                            Los Jagüeles Del 36
4613                                     Dai Dejiao
4614    Limpieza Y Construcciones Argentinas S.R.L.
4615                            Ponce Jorge Ricardo
4616    Linajes Sociedad De La Seccion Iv De La Lgs
4617                 Ffh Asesores De Seguros S.R.L.
4618                      Villalba Raquel Alejandra
4619                                      Ferpe Sas
4620                 Henry Colomer Argentina S.R.L.
4621                                Cambioforex Sas
4622                       Cambio San Isidro S.A.S.
4623                        Cambio San Pedro S.A.S.
4624                              Chen Shuangshuang
4625           Hosteria El Retorno Sociedad Anonima
4626                                    Chen Jinrui
4627                                      Su Suping
4628                       Rodriguez Ariel Fernando
4629                                    Wu Jianping
4630                                   Shi Qingqing
4631                              Kersner Sebastian
4632                            Codosea Maria Paula
4633                                     Borzak Srl
4634                         Fiocca Gabriela Susana
Name: Asegurado/s, dtype: object